@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&family=Work+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f2f3f4 !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

.portal {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #f2f3f469;
  backdrop-filter: blur(2px);
}

.pc-sl-container {
  height: 80px;
  width: 100%;
  padding: 0 25px;
}

.pc-sl-container span {
  color: #ffffff;
  font-size: 14px;
  line-height: 25px;
}

.pc-sl-container-l-wrapper {
  background: #f2f3f4;
  height: calc(100% - 278.5px);
  width: 100%;
  margin: -25px 0 0 0;
}

.pc-sl-container-l {
  height: 100%;
  width: calc(100% - 70px);
  display: flex;
  overflow: hidden;
}

.pc-sl-container-l *:not(:first-child) {
  margin: 0 0 0 -7.5px;
}

.pc-sl-container-l img {
  height: 32.5px;
  width: 32.5px;
  border-radius: 50%;
  border: 2px solid #222326;
}

.pc-sl-container-e {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
}

.pc-sl-container-e span {
  color: #ffffff;
  font-size: 24px;
  line-height: initial;
  font-weight: 600;
}

.pc-empty-wrapper {
  text-align: center;
}

.pc-empty-wrapper p {
  color: #ffffff;
  font-size: 14px;
}

.pc-b-container {
  width: 100%;
  text-align: center;
  margin: 15px 0 0 0;
  padding: 0 20px;
}

.pc-b-container p {
  color: rgba(242, 243, 244, 0.6);
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
}

.pc-wrapper {
  min-height: 425px;
  height: 100%;
  width: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.pc-header {
  color: #ffffff !important;
  font-size: clamp(18px, 2.25vw, 25px) !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  margin: 40px 0 15px 0;
}

.pc-u-container {
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f3f4;
  margin: 40px 0 20px 0;
}

.pc-u-container p {
  color: #222326;
  font-size: 16px;
  font-weight: 500;
}

.pc-a-container {
  height: 100px;
  width: 100px;
}

.pc-a-container img {
  width: 100%;
  border-radius: 8px;
}

.pc-s-container {
  background: #222326;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
  padding: 0 0 20px 0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  z-index: 1;
}

.pc-s-container img {
  width: 17.5px;
  margin: 0 10px 0 0;
}

.pc-s-container p {
  color: #ffffff;
  font-size: 20px;
  padding: 0 0 2.5px 0;
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: open 1000ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

input,
textarea {
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 10px;
}

input:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

.portal {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #f2f3f469;
  backdrop-filter: blur(1px);
}

.m-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.m-container {
  position: relative;
  height: 85vh;
  max-height: 800px;
  width: 400px;
  max-width: 90vw;
  background: #222326;
  border-radius: 24px;
}
.m-body-container {
  height: calc(100% - 60px);
  width: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  overflow: auto;
  scrollbar-width: none;
}

.m-action-container {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mb-wrapper {
  height: 100%;
  max-height: 60px;
  width: 100%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  background: #ff5f15;
}
.mb-wrapper:disabled {
  background: #aaaaaa;
  cursor: not-allowed;
}

.mb-wrapper:hover {
  cursor: pointer;
  background: #fc5203;
}

.mb-label-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-label {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.pc-sl-container-p {
  height: 80px;
  width: 100%;
  margin: 40px 0;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pc-sl-container-p span {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
.pc-sl-container-p-flex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pc-sl-container-pl {
  height: 100%;
  width: calc(100% - 70px);
  display: flex;
}
.pc-sl-container-pl *:not(:first-child) {
  margin: 0 0 0 -7.5px;
}

.pc-sl-container-pl img {
  height: 32.5px;
  width: 32.5px;
  border-radius: 50%;
  border: 2px solid #222326;
}
.info-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}
.info-flex img {
  width: 25px;
}
.info-flex p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.info-flex span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}
.mi-wrapper {
  width: 15px;
}
.mi-icon-start {
  margin: 0 12.5px 0 0;
}

.mi-icon-end {
  margin: 0 0 0 12.5px;
}

.center-message {
  margin: auto;
}

.center-message p {
  font-size: clamp(18px, 2.25vw, 25px) !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  color: #ffffff;
}
