@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&family=Work+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F2F3F4 !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

.pc-sl-container {
  height: 80px;
  width: 100%;
  padding: 0 25px;
}
.pc-sl-container span {
  color: #ffffff;
  font-size: 14px;
  line-height: 25px;
}
.pc-sl-container-l-wrapper {
  height: calc(100% - 25px);
  width: 100%;
  padding: 5px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.pc-sl-container-l {
  height: 100%;
  width: calc(100% - 70px);
  display: flex;
  overflow: hidden;
}
.pc-sl-container-l *:not(:first-child) {
  margin: 0 0 0 -7.5px;
}
.pc-sl-container-l img {
  height: 32.5px;
  width: 32.5px;
  border-radius: 50%;
  border: 2px solid #222326;
}
.pc-sl-container-e {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
}
.pc-sl-container-e span {
  color: #ffffff;
  font-size: 24px;
  line-height: initial;
  font-weight: 600;
}
.pc-empty-wrapper {
  text-align: center;
}
.pc-empty-wrapper p {
  color: #ffffff;
  font-size: 14px;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: open 1000ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}